<html>
    <head>
        <title>Test Page </title>
    </head>
    <body>
        <h1><center>Image Compression</center></h1>
        <form method="post" enctype="multipart/form-data" action="/upload">
            <input type="file" name="file">
            <input type="submit" value="Submit">
        </form>
        <!-- <h1><center>Image Compression using Guetzli</center></h1>
        <form method="post" enctype="multipart/form-data" action="/uploadG">
            <input type="file" name="file">
            <input type="submit" value="Submit">
        </form> -->
        <!-- <h1><center>Image Compression for WebP Format</center></h1>
        <form method="post" enctype="multipart/form-data" action="/uploadW">
            <input type="file" name="file">
            <input type="submit" value="Submit">
        </form> -->
</html>
